span.e {
	color: white;
	background-color: blue;
	padding-top: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;
	border-radius: .5rem;
	font-weight: bold;
}

.jumbotron div .btn {
	font-weight: bold;
}

.card-deck:nth-child(2) {
	padding-top: 1rem;
}

.card-deck:nth-child(2) div:nth-child(2) .card-img-overlay {
	margin-top: 10rem;
}

.footer {
	margin: 1rem;
}