span.e {
	color: white;
	background-color: blue;
	padding-top: .5rem;
	padding-right: .5rem;
	padding-left: .5rem;
	border-radius: .5rem;
	font-weight: bold;
}

.jumbotron div .btn {
	font-weight: bold;
}

#row-two {
	padding-top: 1rem;
}

#row-two div:nth-child(2) .card .card-img-overlay {
	margin-top: 10rem;
}